extends ../layout

block content
     
    div(class='container center-block main-form small-form') 

        form(method="post" action="/account/register" enctype="application/x-www-form-urlencoded")
            
            h1 Inscription
            hr
            
            if errorMessage
                div(class="alert alert-danger" role="alert")= errorMessage
                      
            div(class="row form-row")
            
                div(class="col-xs-6")
                    label(for="userNameFirst") Prénom
                    input(type="text" class="form-control" name="user[name][first]" id="userNameFirst" value="#{ user.name.first }" required placeholder="Votre prénom")
              
                div(class="col-xs-6")
                    label(for="userNameLast") Nom
                    input(type="text" class="form-control" name="user[name][last]" id="userNameLast" value="#{ user.name.last }" required placeholder="Votre nom de famille")
                    
            div(class="row form-row")
            
                div(class="col-xs-6")
                    label(for="userDateOfBirth") Date de naissance
                    input(type="date" class="form-control" name="user[dateOfBirth]" id="userDateOfBirth" value="#{ user.dateOfBirth }" required placeholder="Votre date de naissance")
            
                div(class="col-xs-6")
                    label(for="userGenderFemale") Sexe
                    div
                        label(class="radio-inline")
                            input(type="radio" name="user[gender]" id="userGenderFemale" value="F") 
                            | Femme
                        label(class="radio-inline")
                            input(type="radio" name="user[gender]" id="userGenderMale" value="M")
                            | Homme
                        label(class="radio-inline")
                            input(type="radio" name="user[gender]" id="userGenderOther" value="O")
                            | Autre
                            
            div(class="form-group")
                label(for="userEmail") Adresse email
                input(type="email" class="form-control" name="user[email]" id="userEmail" value="#{ user.email }" required placeholder="Votre adresse email")
                
            div(class="form-group")
                label(for="userUsername") Nom d'utilisateur
                input(type="text" class="form-control" name="user[username]" id="userUsername" value="#{ user.username }" required placeholder="Votre nom d'utilisateur")
                
            div(class="row form-row")
            
                div(class="col-xs-6")
                    label(for="userPassword") Mot de passe
                    input(type="password" class="form-control" name="user[password]" id="userPassword" required placeholder="Votre mot de passe")
                
                div(class="col-xs-6")
                    label(for="userPasswordConfirmation") Confirmez votre mot de passe
                    input(type="password" class="form-control" name="user[passwordConfirmation]" id="userPasswordConfirmation" required placeholder="Confirmez votre mot de passe")
                    
            div
                != captcha

            button(type="submit" class="btn btn-default") Créer un compte
            
            p(class="help-block") Avez-vous déjà un compte? 
                a(href="/account/login") Connectez-vous

                