extends layout

block content

    div(class='container') 
        article
            header
                h1(class='page-heading')= article.title
                - const articleTime = (article.lastEditedDate || article.createdDate).toFormat('DD MM YYYY HH24:MI')
                div(class='article-details')
                    | par 
                    each author in authors
                        a(class='author-pseudo badge' href='#')= author.pseudo
                    if article.lastEditedDate
                        | modifié 
                    | le #{ articleTime } 
                    if article.commentsAllowed
                        a(href='#disqus_thread')
                            span(class='comment-icon glyphicon glyphicon-comment')
                            | commentaires
                        
            hr
            
            if article.video
                div(class='video-container')
                    div(class='video-wrapper')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/#{ article.video }' frameborder='0' allowfullscreen)
            else if article.largeImage
                div
                    img(src='#{ article.largeImage }' style='margin:15px; float:left;')            
            
            div(class='article-content')
                != markdown(article.allContent)
                
                div
                    span(class='st_facebook_large' displayText='Facebook')
                    span(class='st_googleplus_large' displayText='Google +')
                    span(class='st_blogger_large' displayText='Blogger')
                    span(class='st_wordpress_large' displayText='WordPress')
                    span(class='st_twitter_large' displayText='Tweet')
                    span(class='st_linkedin_large' displayText='LinkedIn')
                    span(class='st_sharethis_large' displayText='ShareThis')
                    span(class='st_pinterest_large' displayText='Pinterest')
                    span(class='st_email_large' displayText='Email')
                
                div(class='article-related')
                    each relArticle in relatedArticles
                        div
                            h3 
                                a(href='/article/#{ relArticle.id }')= relArticle.title
                            p
                                if relArticle.smallImage
                                    a(href='/article/#{ relArticle.id }')
                                        img(src='#{ relArticle.smallImage }')
                                        
                script.
                    var switchTo5x=true;
                script(src="http://w.sharethis.com/button/buttons.js")
                script.
                    stLight.options({publisher: "074fa515-fde7-4007-aa71-0f56f89356b6", doNotHash: false, doNotCopy: true, hashAddressBar: false, popup:false, servicePopup: true });
            
                if article.commentsAllowed
                    div(id='disqus_thread')
                    script.
                        var disqus_shortname = 'mayizocom'; // required: replace example with your forum shortname
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    noscript Please enable JavaScript to view the 
                        a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
                    
                


