extends layout

block content

    div(class='container') 
        article
            header
                h1(class='page-heading')= article.title
                - const articleTime = (article.lastEditedDate || article.createdDate).toFormat('DD MM YYYY HH24:MI')
                div(class='article-details')
                    | par 
                    each author in authors
                        a(class='author-pseudo badge' href='#')= author.pseudo
                    if article.lastEditedDate
                        | modifié 
                    | le #{ articleTime } 
                    if article.commentsAllowed
                        a(href='#disqus_thread')
                            span(class='comment-icon glyphicon glyphicon-comment')
                            | commentaires
                        
            hr
            
            if article.video
                div(class='article-media')
                    iframe(width="560" height="315" src="https://www.youtube.com/embed/#{ article.video }" frameborder="0" allowfullscreen)
                    
            div(class='article-content')
                != markdown(article.allContent)
                
                div(class='article-related')
                    each relArticle in relatedArticles
                        div
                            h3 
                                a(href='/article/#{ relArticle.id }')= relArticle.title
                            p
                                if relArticle.smallImage
                                    a(href='/article/#{ relArticle.id }')
                                        img(src='#{ relArticle.smallImage }')
            
                if article.commentsAllowed
                    div(id='disqus_thread')
                    script(type='text/javascript').
                        var disqus_shortname = 'mayizocom'; // required: replace example with your forum shortname
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    noscript Please enable JavaScript to view the 
                        a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
                    
                


