extends layout

block content

    div(class='jumbotron')
        div(class='container')
            div(class='headline-media')
                a(href='/article/#{ leadArticle.id }' class='img-responsive')
                    img(src='#{ leadArticle.largeImage }')
            div(class='headline-content')
                a(href='/article/#{ leadArticle.id }')
                    h1= leadArticle.title
                    
                != markdown(leadArticle.allContent.substring(0, 800))
                
    div(class='container') 
        div(class='row')
            each article in articlesList
                div(class='article-index-item')
                    article
                        header
                            h2 
                                a(href='/article/#{ article.id }')!= markdown(article.title)
                                
                            if article.smallImage
                                a(href='/article/#{ article.id }')
                                    img(src='#{ article.smallImage }' style='float:left; margin-right: 10px;')
                                    
                            != markdown(article.allContent.substring(0, 185))




