extends ../../layout

block content

    div(class='container')
        h1(class='page-heading') Utilisateurs
        hr
        
        table(id='usersTable')
            thead
                tr
                    th Nom complet
                    th Nom d'utilisateur
                    th Email
                    th Role
                    th Utilisateur depuis
                    th
            tbody
                each user in users
                    tr
                        td= user.fullName
                        td= user.username
                        td= user.email
                        td= getRoleName(user.roleId)
                        td= user.signUpDate.toFormat('DD MM YYYY HH24:MI')
                        td
                            a(class='btn' href='/admin/users/edit/#{ user.id }') Détails
            tfoot

        hr
        a(class='btn btn-default' href='/admin/pendingUsers/add')
            span(class='glyphicon glyphicon-plus')
            span Ajouter

block append moreStylesheets
    link(href='/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css', rel='stylesheet')
    link(href='/vendor/datatables/media/css/jquery.dataTables.min.css', rel='stylesheet')

block append moreScripts
    script(src='/vendor/datatables/media/js/jquery.dataTables.min.js')
    script(src='/javascripts/users-module.js')
